#contents > header, #contents > main, #contents > footer {
    min-width: 80rem;
}
main {
    min-height: calc(100vh - 43.375rem);
}
body * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Geogrotesque', 'YoonGothic', sans-serif;
    font-weight: inherit;
    font-size: inherit;
}
main {
    display: block;
}
.sub-top-area.sitemap[data-v-36112f05] {
    padding: 5.625rem 0;
}
div {
    display: block;
}
body ol, body ul, body li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: disc;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
ul ul {
    list-style-type: circle;
    margin-block-start: 0px;
    margin-block-end: 0px;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
body a, body a:hover, body a:visited {
    text-decoration: none;
    color: #111;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
/************************
		TITLE
************************/
.sub-top-area .container[data-v-0d03d759] {
    position: relative;
    width: 80rem;
    margin: 0 auto;
}
.sub-top-area h2[data-v-0d03d759] {
    position: relative;
    font-weight: 300;
    font-size: 4.5rem;
    color: #1d1d1d;
}
.sub-top-area h2[data-v-0d03d759]:before {
    display: block;
    position: absolute;
    top: 50%;
    left: -19.5rem;
    margin-top: 0.0625rem;
    width: 18.125rem;
    height: 0.0625rem;
    background: #1d1d1d;
    content: '';
}
.sub-top-area nav[data-v-0d03d759] {
    position: absolute;
    bottom: 1.5rem;
    right: -1.25rem;
}
.sub-top-area nav ul[data-v-0d03d759] {
    display: flex;
}
.sub-top-area nav ul li[data-v-0d03d759]:first-child {
    padding: 0 1.6875rem;
    background-image: url("/dmu/resources/images/home.svg" );
    background-repeat : no-repeat;
    font-size: 0;
    background-position: top center;
}
.sub-top-area nav ul li[data-v-0d03d759] {
    position: relative;
    padding: 0 1.25rem;
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 1.125rem;
    color: #999;
    letter-spacing: -0.035em;
}
.sub-top-area nav ul li[data-v-0d03d759]:last-child {
    font-weight: 500;
    color: #111;
}
.sub-top-area nav ul li[data-v-0d03d759] {
    position: relative;
    padding: 0 1.25rem;
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 1.125rem;
    color: #999;
    letter-spacing: -0.035em;
}
.sub-top-area nav ul li + li[data-v-0d03d759]:before {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 0.0625rem;
    height: 0.625rem;
    margin-top: -0.3125rem;
    background: #ccc;
    content: '';
}
/********************************
		CONTENTS (LEFT)
*********************************/
.sub-contents-area .container {
    width: 80rem;
    margin: 0 auto;
    padding: 5.25rem 0 9.375rem 0;
    position: relative;
}
.sitemap-wrap[data-v-36112f05] {
    display: flex;
}
.sitemap-wrap .sitemap-left[data-v-36112f05] {
    width: 54.5rem;
}
.sitemap-wrap .sitemap-left > ul[data-v-36112f05] {
    display: flex;
    flex-wrap: wrap;
}
.sitemap-wrap .sitemap-left > ul > li[data-v-36112f05] {
    width: 13.625rem;
    margin-right: 6.8125rem;
    margin: 0 6.8125rem 5rem 0;
}
.sitemap-wrap .sitemap-left > ul > li .category[data-v-36112f05] {
    display: block;
    border-bottom: 2px solid #111;
    font-weight: 500;
    font-size: 2.25rem;
    line-height: 2.6875rem;
    color: #111;
}
.sitemap-wrap .sitemap-left > ul > li ul[data-v-36112f05] {
    margin-top: 1.875rem;
}
.sitemap-wrap .sitemap-left > ul > li ul > li a[data-v-36112f05] {
    display: inline-block;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.44;
    color: #111;
    text-decoration:none;
}
.sitemap-wrap .sitemap-left > ul > li ul > li + li[data-v-36112f05] {
    margin-top: 1.25rem;
}
.sitemap-wrap .sitemap-left > ul > li[data-v-36112f05]:nth-child(3n) {
    margin-right: 0;
}
.sitemap-wrap .sitemap-left > ul > li .category.link[data-v-36112f05] {
    background-image: url("/dmu/resources/images/arrow_black.svg" );
    background-position: center right;
    background-repeat : no-repeat;
    text-decoration:none;
}
/********************************
		CONTENTS (RIGHT)
*********************************/
.sitemap-wrap .sitemap-right[data-v-36112f05] {
    width: 18.6875rem;
    margin-left: auto;
}
.sitemap-wrap .sitemap-right > ul > li.arrow[data-v-36112f05] {
    background-image: url("/dmu/resources/images/arrow_white.svg" );
    background-color: #111;
    background-position: center right 1.25rem;
    background-repeat: no-repeat;
}
.sitemap-wrap .sitemap-right > ul > li[data-v-36112f05] {
    padding: 1.375rem 1.25rem;
    background: #111;
}
.sitemap-wrap .sitemap-right > ul > li a[data-v-36112f05] {
    display: inline-block;
    font-weight: 500;
    font-size: 1rem;
    color: #fff;
    text-decoration:none;
}
.sitemap-wrap .sitemap-right > ul > li.list-style[data-v-36112f05] {
    padding: 1.25rem;
}
.sitemap-wrap .sitemap-right > ul > li + li[data-v-36112f05] {
    margin-top: 1.25rem;
}
.sitemap-wrap .sitemap-right > ul > li ul > li[data-v-36112f05] {
    padding: 0.625rem 0;
}
.sitemap-wrap .sitemap-right > ul > li ul > li a[data-v-36112f05] {
    font-weight: 300;
}






